<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/mainstyles.css" />
    <title>User Profile</title>
  </head>

  <body>
    <%- include ('partials/navbar') %>
    <div class="list">
      <% for( let i=0; i < userDetails.length; i++ ) { %>

      <!-- <div class="content">
                <header class="heading">
                    <a href="/users/<%= userDetails[i].uid %>"> Showing <%= userDetails[i].username %>
                        </a>
                </header>

                <div class="UID">
                    <div id="UID">
                        UID
                    </div>
                    <div>
                        <%= userDetails[i].uid %>
                    </div>
                </div>
                <div class="username">
                    <div id="username">
                        User Name
                    </div>
                    <div>
                        <%= userDetails[i].username %>
                    </div>
                </div>
            </div> -->
      <div class="card">
        <div style="background-color: rgb(114, 74, 74); height: fit-content;padding: 5px;color: white; font-size: large;">User</div>
        <div style="font-size: small">
          <%= userDetails[i].username %> (<%= userDetails[i].uid %>)
        </div>
      </div>
      <% } %>
    </div>
  </body>
  <script src="/navbar.js"></script>
</html>
